body {
  margin: 0;
  padding: 0;
  color: #4d4d4d;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-side {
  flex: 1.8;
  background-image: url('https://static.inditex.com/assets/public/f914/2f9b/4b804c48bf80/570815b9f095/B_25001_B001C014_250212K6_31secs_v3_QC_sRGB_300copia/B_25001_B001C014_250212K6_31secs_v3_QC_sRGB_300copia.jpg?ts=1746177029698&f=auto&w={}');
  background-size: cover;
  background-position: center;
}

.right-side {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.root {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 12px;
}

.img-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-field img {
  width: 200px;
}

.text {
  font-size: 27px;
  text-align: center;
}

.login-island {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fields {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.fields input {
  width: 300px;
  font-size: 18px;
  padding: 8px 15px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  color: #4d4d4d;
}
.fields input::placeholder {
  font-family: 'Montserrat', sans-serif;
}
.fields input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttons button {
  padding: 10px 16px;
  font-size: 16px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  cursor: pointer;

  background-color: #f5f5f5;
  transition: 0.2s ease-in-out;
}

.buttons button:hover {
  background-color: #e9e9e9;
}
.buttons button:active {
  background-color: #dadada;
}

@media (max-width: 760px) {
  .left-side {
    display: none;
  }
}
