body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.card {
  width: 75%;
  margin: 40px auto;
  border: none;
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

.price {
  color: #2ec4b6;
  font-weight: 700;
  font-size: 1.8rem;
}

.addButton {
  background-color: #42c2b1;
  color: white;
  font-weight: 600;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #333333;
}

ul {
  margin-top: 15px;
}

.photos img {
  width: 4rem;
  height: auto;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.photos img:hover {
  transform: scale(1.05);
}

.btn {
  background-color: #42c2b1;
  color: white;
  font-weight: 600;
  border: none;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #333333;
}

@media (max-width: 1210px) {
  .photos img {
    width: 3rem;
  }
}

#starContainer {
  display: flex;
}

.img-fluid {
  height: 411px;
}
