footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 6vw auto;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 0.7vw;
}
.social-media .text {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2vw;
  font-weight: bold;

  text-shadow: 2px 2px 10px rgba(67, 67, 67, 0.7);

  margin: 0;
}
.social-icon {
  display: flex;
  flex-direction: row;
  gap: 0.7vw;
}
.social-icon:hover {
  cursor: pointer;
}
.social-icon svg {
  fill: #818181;

  width: 1.6vw;
  height: 1.6vw;
}

.mini-text {
  margin-top: 1.2vw;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  color: #8a8a8a;

  text-align: center;
}

.banks {
  margin-top: 1.2vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banks img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;

  object-fit: cover;
}
