html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.account-container {
  width: max-content;
  height: max-content;
}

.main {
  display: grid;
  grid-template-areas:
    'small1 large large tall'
    'small2 large large tall';

  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 20vw 19vw;
  gap: 10px;

  padding: 10px;

  width: 100%;
  box-sizing: border-box;
}

.small1-container {
  grid-area: small1;
}
.small2-container {
  grid-area: small2;
}
.large-container {
  grid-area: large;
}
.tall-container {
  grid-area: tall;
}

.small1-container,
.small2-container {
  width: 100%;
  height: 100%;

  overflow: hidden;
  position: relative;
}
.large-container {
  width: 100%;
  height: 40vw;

  overflow: hidden;
  position: relative;
}

.tall-container {
  width: 100%;
  height: 40vw;

  overflow: hidden;
  position: relative;

  line-height: 1;
}

.small-img,
.large-img,
.tall-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.small1-text {
  position: absolute;
  top: 33%;
  left: 10%;
  right: 10%;

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;

  justify-content: center;
}
.small1-text:hover {
  text-shadow: 2px 2px 10px rgba(78, 78, 78, 0.86);
  cursor: pointer;
  transition: text-shadow 0.3s;
}

.small2-text {
  position: absolute;
  top: 30%;
  left: 14%;
  right: 14%;

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  font-weight: bold;

  text-shadow: 2px 2px 10px rgba(78, 78, 78, 0.86);
}
.small2-text:hover {
  text-shadow: 4px 4px 10px rgba(34, 34, 34, 0.86);
  cursor: pointer;
  transition: text-shadow 0.3s;
}

.large-text {
  position: absolute;
  top: 9vw;
  left: 10vw;
  right: 10vw;

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.1vw;
  font-weight: bold;

  text-shadow: 2px 2px 10px rgba(78, 78, 78, 0.86);
}
.large-text:hover {
  text-shadow: 4px 4px 10px rgba(34, 34, 34, 0.86);
  cursor: pointer;

  transition: text-shadow 0.5s;
}
.large-text-description {
  position: absolute;
  top: 16vw;
  left: 7vw;
  right: 7vw;

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;

  text-shadow: 2px 2px 10px rgba(55, 55, 55, 0.86);
}

.tall-text {
  position: absolute;
  top: 11%;
  left: 15%;

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  font-weight: bold;

  text-shadow: 2px 2px 10px rgba(78, 78, 78, 0.86);
}

.text-container {
  padding: 7% 9%;
}

.big-text {
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  color: #333333;
}

.small-text {
  margin-top: 3%;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  color: #333333;
}

.featured-products {
  display: flex;
  flex-direction: column;
}
.main-text {
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 2.8vw;
  font-weight: bold;
  color: #333333;
}

.image-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;

  padding: 10px;
}

.self-img {
  width: 40vw;
  height: 40vw;

  position: relative;
}
.self-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.self-img .name {
  position: absolute;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.4vw;
  font-weight: bold;

  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(85, 85, 85, 0.54);

  top: 2%;
  left: 4%;
}
.self-img .price {
  position: absolute;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;

  color: #333333;
  text-shadow: 2px 2px 10px rgba(83, 83, 83, 0.54);
  top: 7%;
  left: 4%;
}

@media (max-width: 430px) {
  .main {
    grid-template-areas:
      'small1 tall'
      'small2 tall';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
    padding: 8px;
  }

  .large-container {
    display: none;
  }

  .small1-container,
  .small2-container {
    height: 50vw;
  }
  .tall-container {
    height: 100%;
  }

  .small1-text,
  .small2-text {
    position: absolute;
    top: 25%;
    left: 10%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(78, 78, 78, 0.86);
  }

  .tall-text {
    position: absolute;
    top: 3%;
    left: 10%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(78, 78, 78, 0.86);
  }

  .big-text {
    font-size: 5.3vw;
  }

  .small-text {
    font-size: 2.3vw;
  }

  .main-text {
    font-size: 4vw;
  }

  .image-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .self-img {
    width: 53vw;
    height: 65vw;

    box-shadow: 2px 2px 10px rgba(78, 78, 78, 0.56);
  }

  .self-img .name {
    margin-top: 1vw;

    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4vw;
  }
  .self-img .price {
    margin-top: 1.1vw;

    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8vw;
  }
}
