#mainText {
    color: #7704bd;
    font-size: 24px;
    font-weight: bold;
    margin: 24px auto;
}


.form {

}

.form div {
    background-color: #ffffff;
}

.add-task-parent {
    width: 500px;
    min-height: 300px;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0 rgba(112, 112, 112, 0.2);

    margin: auto;
    padding: 30px;

    color: #7704bd;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.create-task-from {
    margin-top: 15px;
    text-align: center;
}

.view-task-parent {
    margin-top: 15px;
}

.task-field {
    width: 480px;
    height: 50px;
    padding-left: 12px;
    font-size: 18px;

    margin-top: 15px;
    margin-right: 10px;

    border-radius: 5px;
    border: 1px solid rgba(92, 8, 143, 0.51);
    color: rgba(0, 0, 0, 0.69);
}

.task-field::placeholder {
    color: #7704bd;
    font-size: 18px;
    opacity: 40%;
}

button {
    background-color: #7704bd;
    color: white;
    cursor: pointer;
    border: solid #7704bd 1px;
    border-radius: 6px;
    width: auto;
    height: auto;
    font-size: 18px;
    padding: 14px 24px;
}
button:hover {
    background-color: #ffffff;
    color: #7704bd;
    border-color: rgba(92, 8, 143, 0.51);
    transition-duration: 0.3s;
}
button:active {
    background-color: rgba(119, 4, 189, 0.63);
    color: white;
}

.sort-button{
    background-color: #ffffff;
    color: #7704bd;
    cursor: pointer;
    border: 1px solid rgba(92, 8, 143, 0.51);
    border-radius: 6px;
    width: auto;
    height: auto;
    font-size: 18px;
    padding: 14px 24px;
}
.sort-button:hover {
    background-color: rgba(119, 4, 189, 0.84);
    color: white;
    transition-duration: 0.3s;
}
.sort-button:active {
    background-color: rgba(119, 4, 189, 0.63);
    color: white;
}

.task-card {
    border-radius: 4px;
    border: 1px solid rgba(92, 8, 143, 0.51);
    box-shadow: 0 2px 2px 0 rgba(112, 112, 112, 0.2);
    background: rgba(241, 241, 241, 0.65);

    margin-top: 20px;
    padding: 20px;

    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.delete-button {
    background-color: #c13030;
    color: white;
    cursor: pointer;
    border: solid rgb(193, 48, 48) 1px;
    border-radius: 8px;
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 8px;
}

.delete-button:hover {
    color: #c13030;
    background-color: white;
    border: solid rgb(193, 48, 48) 1px;
}

.delete-button:active {
    background-color: rgba(193, 48, 48, 0.77);
    color: white;
}

.delete-action {
    color: #c13030;
    font-weight: normal;
    cursor: pointer;
    position: relative;
}

.delete-action::before {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #c13030;

    transition: all 0.4s;
}

.delete-action:hover::before {
    width: 100%;
}

.delete-action:active {
    color: rgba(193, 48, 48, 0.73);
}

.task-success {
    width: 18px;
    height: 18px;

    cursor: pointer;

    accent-color: #019116;
}